{% extends "auth/base.html" %}

{% block sidebar %}
    <div id="sidebar">
        <h1>dex</h1>
        <h3>The ultimate online tracker for Pokemon GO</h3>
        <p>
            <b>Apologies, we are down for maintenance</b><br /><br />
            Sorry for taking the site down, but I promise something good is coming!<br /><br />
            Come back soon and keep an eye on your email for new features and updates.
        </p>
    </div>
{% endblock %}

{% block content %}
    <div id="content">
        <p class="hero-text">Currently Down For Maintenance. Stay Tuned!</p>
    </div>
{% endblock %}