{% extends "base.html" %}

{% block container %}
    <div id="container" class="login-auth">
        {% block sidebar %}
            <div id="sidebar">
                <h1>dex</h1>
                <h3>The ultimate online tracker for Pokemon GO</h3>
                <p>Enter your email below and you will recieve an email allowing you to reset your
                    password</p>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=64) }}<br>
                        {% for error in form.email.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit() }}</p>
                </form>
                <p>
                    <a href="{{ url_for('auth.login') }}">Click here to go back to the login
                        page.</a>
                </p>
            </div>
        {% endblock %}

        {% block content %}
            <div id="content">
                <p class="hero-text">Never lose track of your little monsters again.</p>
            </div>
        {% endblock %}
    </div>
{% endblock %}