{% extends "base.html" %}

{% block sidebar %}
    <div id="sidebar">
        <h1>dex</h1>
        <h3>The ultimate online tracker for Pokemon GO</h3>
        <p>Reset your password below, and make sure you remeber it this time!</p>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div id="content">
        <p class="hero-text">Never lose track of your little monsters again.</p>
    </div>
{% endblock %}