<p>Dear {{ user.username }},</p>
<h3>Apologies to our new users</h3>
<p>First of all I want to say a big sorry to anyone who has signed up recently; we have had reports
    of issues with new accounts signing up. These issues have now been resolved, but if you do have
    any issues in the future please drop me a message on <a href="https://reddit.com/u/vidoardes">reddit</a>
    or on discord (vidoardes#2460), or drop an issue on the
    <a href="https://github.com/vidoardes/dex/issues">GitHub repo</a> and I will get them resolved ASAP</p>
<h3>The last one before the big one!</h3>
<ul>
    <li><b>Many, many styling fixes</b> - tablet and phone views have been improved, and additionally the sprites have also been updated to provide an all round better experience. Raid boss and egg hatch pages have been updated for a more pleasant and usable experience.</li>
    <li><b>Basic Pokedex Functionality</b> - Clicking a Pokemon will now show you its base stats and max CP. This popup will be expanded with additional details once I have collected enough data!</li>
    <li><b>Pre work for multi list</b> - Multi list is now <i>very</i> close, and I have included a lot of prep work in this release to make sure they work smoothly for everyone on launch. Check out <a href="https://dex.vidoardes.me/user/vidoardez">my profile</a> for a sneaky peek at how they will work!</li>
</ul>
<p>That's about it for this release, but I promise I will be back soon with the multi list feature. I am also taking feature requests, so head on over to the <a href="https://github.com/vidoardes/dex/issues">GitHub repo</a> and let me know if there is something you'd like to see!</p>
<p>Sincerely,</p>
<p>The Dex Team</p>

<hr />

<p style="font-style: italic; color: #444; font-size: 0.9em">Although this isn't for profit, it does cost money to run, so if you would like to make a donation to keep the server up I would very much appreciate it. <a href="https://ko-fi.com/vidoardes" target="_blank">You can find my ko-fi page here.</a></p>