<p>Dear {{ user.username }},</p>
<h3>We've updated DEX!</h3>
<p>Apologies for the downtime, but I have added some really cool new features I hope you enjoy:</p>
<ul>
    <li><b>CP Rebalance</b> - Base Stat calculations are now being done inside the application which will make future updates easier and lays the groundwork for a future features</li>
    <li><b>Filter forms</b> - Not interested in costumed Pokemon, unown forms, or only want one Spinda? Check out the new filters in your settings page!</li>
    <li><b>Query String Filters</b> You can now visit your profile page with query strings for filters, so if you want to share a specific view of your profile with a frened they don't have to filter it down. Simply select the view you want, and copy the URL. Make sure your profile is public!</li>
    <li><b>Unsubscribe and Delete</b> - If you aren't interested in these emails, or want to leave the site (<i>sniff</i>), you now have the option to opt out of communication and delete your data from the site</li>
</ul>
<p>I have many more exciting features planned, so stay tuned!.</p>
<p>Sincerely,</p>
<p>The Dex Team</p>