Flask>=1.0.2
Flask-Bcrypt>=0.7.1
Flask-Login>=0.4.1
flask-mail>=0.9.1
Flask-Migrate>=2.2.1
Flask-SQLAlchemy>=2.3.2
Flask-wtf>=0.1.4
itsdangerous>=0.24
Jinja2>=2.10
psycopg2>=2.7.5
python-dotenv
pyjwt>=1.6.4
structlog
SQLAlchemy>=1.2.10
Werkzeug>=0.14.1
WTForms>=2.2.1