<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>DEX | The Ultimate Online Tracker for Pokemon GO</title>
    <meta name="author" content="vidoardes">
    <meta name="description" content="The Ultimate Online Tracker for Pokemon GO">
    <meta name="keywords" content="pokemon,tacker,pokedex,dex">
    {% include 'blocks/icons.html' %}
    {% include 'blocks/fonts.html' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.min.css') }}" type="text/css">
</head>

<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flashed-message {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block container %}
<div id="user-profile">
    {% block header %}{% endblock %}
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>
