{% extends "main/base.html" %}

{% block container %}
    <div id="user-profile" data-username="{{ user.username }}">
        {% block header %}
            <div id="header">
                <div id="logo">
                    <div id="sidebartoggle"><i class="fas fa-bars"></i></div>
                    <h1>DEX</h1>
                </div>
                <div class="ui search">
                    <div class="ui fluid small inverted transparent icon input">
                        <input class="prompt" type="text"
                               placeholder="Search for other trainers...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
                <div id="menu">
                    <a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out"></i></a>
                    <a href="{{ url_for('main.user', username=current_user.username) }}"><i
                            class="fas fa-user-circle"></i></a>
                </div>
            </div>
        {% endblock %}

        {% block sidebar %}
            <div id="sidebar">
                <div id="sidebar-body">
                    <div id="player-card">
                        <div id="player-team-logo" class="{{ user.player_team }}"></div>
                        <h2>{{ user.username }}</h2>
                        <label>Level {{ user.player_level }}</label>
                    </div>
                </div>

                <div id="footer-links">

                </div>
            </div>
        {% endblock %}

        {% block content %}
            <div id="content" class="dex">
                <div id="pokemon-filters">
                    <div class="ui selection fluid dropdown">
                        <input type="hidden" id="gen-select" value="1">
                        <i class="dropdown icon"></i>
                        <div class="default text">Generations</div>
                        <div class="menu">
                            <div class="item" data-value="1">Gen I (Kanto)</div>
                            <div class="item" data-value="2">Gen II (Johto)</div>
                            <div class="item" data-value="3">Gen III (Hoenn)</div>
                        </div>
                    </div>


                    <div class="ui selection fluid dropdown">
                        <input type="hidden" id="cat-select">
                        <i class="dropdown icon"></i>
                        <div class="default text">Category</div>
                        <div class="menu">
                            <div class="item" data-value="shiny"><i class="icon star"></i> Shiny</div>
                            <div class="item" data-value="alolan"><i class="icon fas fa-umbrella-beach"></i> Alolan</div>
                            <div class="item" data-value="regional"><i class="icon fas fa-globe-africa"></i> Regional</div>
                            <div class="item" data-value="legendary"><i class="icon fab fa-phoenix-squadron"></i> Legendary</div>
                            <div class="item" data-value="mythical"><i class="icon fas fa-map-marker-question"></i> Mythical</div>
                            <div class="item" data-value="costumed"><i class="icon fab fa-pied-piper-hat"></i> Costumed</div>
                        </div>
                    </div>

                    <div class="ui selection fluid dropdown">
                        <input type="hidden" id="own-select">
                        <i class="dropdown icon"></i>
                        <div class="default text">Owned vs. Need</div>
                        <div class="menu">
                            <div class="item" data-value="all">Show All</div>
                            <div class="item" data-value="owned">Owned</div>
                            <div class="item" data-value="notowned">Not Owned</div>
                        </div>
                    </div>
                </div>
                <div id="pokemon-list">
                    <div id="pokemon-wrapper"></div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/intro.js@2/minified/intro.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/user.js') }}"></script>
{% endblock %}