{% extends "main/base.html" %}

{% block container %}
    <div id="user-profile" data-username="{{ user.username }}">
        {% block header %}
            <div id="header">
                <div id="logo">
                    <div id="sidebartoggle"><i class="fas fa-bars"></i></div>
                    <h1>DEX</h1>
                </div>
                <div class="ui search">
                    <div class="ui fluid small inverted transparent icon input">
                        <input class="prompt" type="text" placeholder="Search for other trainers...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
                <div id="menu">
                    <a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out"></i></a>
                    <a href="{{ url_for('main.user', username=current_user.username) }}"><i class="fas fa-user-circle"></i></a>
                </div>
            </div>
        {% endblock %}

        {% block sidebar %}
            <div id="sidebar">
                <div id="sidebar-body">
                    <div id="player-card">
                        <div id="player-team-logo" class="{{ user.player_team }}"></div>
                        <h2>{{ user.username }}</h2>
                        <label>Level {{ user.player_level }}</label>
                    </div>
                </div>

                <div id="footer-links">

                </div>
            </div>
        {% endblock %}

        {% block content %}
            <div id="content" class="dex">
                <div id="pokemon-filters">
                    <select id="gen-select" class="ui dropdown fluid">
                        <option value="all">All Released Generations</option>
                        <option value="1">Gen I (Kanto)</option>
                        <option value="2">Gen II (Johto)</option>
                        <option value="3">Gen III (Hoenn)</option>
                    </select>
                    <select id="cat-select" class="ui dropdown fluid">
                        <option value="all">All Released</option>
                        <option value="shiny">Shiny</option>
                        <option value="alolan">Alolan</option>
                        <option value="regional">Regional</option>
                        <option value="legendary">Legendary</option>
                        <option value="mythical">Mythical</option>
                    </select>
                    <select id="own-select" class="ui dropdown fluid">
                        <option value="all">All Pokemon</option>
                        <option value="owned">Owned</option>
                        <option value="notowned">Not Owned</option>
                    </select>
                </div>
                <div id="pokemon-list">
                    <div id="pokemon-wrapper"></div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/intro.js@2/minified/intro.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/user.js') }}"></script>
{% endblock %}