@import "vendor/normalize";
@import "mixins";
@import "defaults";

/*----------------*/
/* SITE FRAMEWORK */
/*----------------*/
#container {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 450px 1fr;
  height: 100vh;
  width: 100vw;

  #sidebar {
    grid-area: sidebar;
    padding: 20px 60px;

    h1 {
      font-size: 80px;

      @include tablet {
        margin-top: 20px;
      }
    }
  }

  #content {
    background-color: #215788;
    background-image: url('../static/img/img_charizard-silhouette-14.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom right;
    overflow-y: scroll;
    position: relative;

    p.hero-text {
      color: #fff;
      font-size: 60px;
      text-align: left;
      margin: 40vh 80px 0;
      font-family: 'Patua One', cursive;
    }
  }
}

/*--------------*/
/* AUTH PROCESS */
/*--------------*/
#container.login-auth {
  input[type=password], input[type=text] {
    height: 44px;
    width: 100%;
  }

  p {
    text-align: center;
    margin: 0;
    padding-bottom: 25px;
  }

  form {
    padding-top: 42px;
  }

  label[for=remember_me] {
    font-weight: 400;
    font-size: 14px;
    padding-left: 20px;
    display: block;
  }

  @include tablet {
    grid-template-areas: "sidebar" "content";
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    grid-auto-flow: column;

    #sidebar {
      padding: 20px 140px;

      h1 {
        margin-top: 0;
      }
    }

    #content {
      display: none;
    }
  }

  @include phone {
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    grid-auto-flow: column;

    #sidebar {
      h1 {
        margin-top: 0;
        font-size: 60px
      }

      h3 {
        font-size: 18px;
      }

      form {
        padding-top: 25px;
      }

      padding: 20px 30px;
    }

    #content {
      display: none;
    }
  }
}

/*--------------*/
/* REGISTRATION */
/*--------------*/
#container.register {
  .form-container {
    overflow: hidden;
    margin: 20px;
    background: #fff;
    border-radius: 3px;
    padding: 20px 40px;

    p {
      margin: 0;
      padding-bottom: 25px;
    }

    #player_team {
      display: grid;
      grid-template-columns: repeat(4, minmax(145px, 1fr));
      grid-auto-flow: row;
      grid-column-gap: 20px;
      padding: 0;

      @include tablet {
        grid-template-columns: 1fr;
      }

      @include phone {
        grid-template-columns: 1fr;
      }

      li {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;

        label {
          display: inline-block;
          padding: 10px 10px 10px 68px;
          border: solid 1px #E1E3DF;
          border-radius: 3px;
          height: 68px;
          line-height: 48px;
          background-repeat: no-repeat;
          opacity: 0.8;

          &:hover {
            border-color: #adaeaa;
          }

          &[for=player_team-0] {
            background-image: url('../img/TeamMystic.svg');
            background-position: -5px -25px;
            background-size: 75px;
          }

          &[for=player_team-1] {
            background-image: url('../img/TeamInstinct.svg');
            background-position: -5px -25px;
            background-size: 80px;
          }

          &[for=player_team-2] {
            background-image: url('../img/TeamValor.svg');
            background-position: -8px -24px;
            background-size: 80px;
          }

          &[for=player_team-3] {
            background-image: url('../img/TeamHarmony.svg');
            background-position: 10px 2px;
            background-size: 45px;
          }
        }

        input[type=radio] {
          opacity: 0;
          height: 1px;
          width: 1px;
          position: absolute;

          &:checked + label {
            border-color: #a3c293;
            background-color: #fcfff5;
            color: #2c662d;
            opacity: 1;
          }
        }
      }
    }
  }

  @include tablet {
    grid-template-areas: "content" "sidebar";
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    grid-auto-flow: column;

    #sidebar {
      display: none;
    }
  }

  @include phone {
    grid-template-areas: "content" "sidebar";
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    grid-auto-flow: column;

    #sidebar {
      display: none;
    }
  }
}

/*--------------*/
/* USER PROFILE */
/*--------------*/
#user-profile {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-areas: "header header" "sidebar content";
  grid-template-columns: auto 1fr;
  grid-template-rows: 62px 1fr;

  #header {
    grid-area: header;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255, 255, 255, 0.75);
    background-color: #215788;
    display: grid;
    grid-template-areas: "logo search menu";
    grid-template-columns: auto 1fr auto;

    #logo {
      grid-area: logo;

      h1 {
        padding: 0 16px;
        margin: 0;
        color: rgba(255, 255, 255, 0.8);
        display: inline-block;
        float: left;
      }

      #sidebartoggle {
        font-size: 25px;
        line-height: 38px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        padding: 0 0 0 16px;
        display: none;
        float: left;

        &:hover {
          cursor: pointer;
          color: rgba(255, 255, 255, 0.95);
        }
      }

      @include tablet {
        #sidebartoggle {
          display: inline-block;
        }
      }

      @include phone {
        h1 {
          display: none;
        }

        #sidebartoggle {
          padding-right: 16px;
        }
      }
    }

    .search {
      grid-area: search;

      & > div {
        max-width: 350px;
      }

      input {
        height: 38px;
        padding: 0 40px 0 14px !important;
        border-radius: 3px !important;
        background-color: rgba(255, 255, 255, 0.125) !important;
      }

      i.icon {
        right: 14px;
      }
    }

    #menu {
      grid-area: menu;
      padding: 0 16px;

      a {
        float: right;
        padding: 0 0 0 16px;
        line-height: 38px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 25px;

        &:hover {
          color: rgba(255, 255, 255, 0.95)
        }

        &:last-child {
          padding: 0;
        }
      }
    }
  }

  #sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-areas: "body" "footer";
    grid-template-rows: auto 40px;
    border-right: 1px #e1e4e8 solid;
    transition: all 0.3s ease-out;

    @include tablet {
      position: absolute;
      left: -310px;
      padding: 0;
      overflow: hidden;
      height: calc(100vh - 62px);
      top: 62px;
      background: #fff;
      z-index: 3;
      box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.43);

      &.show-sidebar {
        left: 0;
      }
    }

    @include phone {
      width: 100vw;
      left: -100vw;
      box-shadow: none;
    }

    #sidebar-body {
      grid-area: body;
      padding: 24px;
      width: 302px;

      @include phone {
        width: 100vw;
      }

      #sidebar-links {
        margin-top: 30px;

        .sidebar-link {
          display: grid;
          grid-template-columns: 35px 1fr 24px;
          width: 100%;
          font-family: 'Patua One', cursive;
          font-size: 20px;
          font-weight: 400;
          color: #215788;
          padding: 10px 10px;
          text-align: left;
          border-radius: 3px;
          line-height: 30px;

          &:hover {
            color: lighten(#215788, 10%);
            cursor: pointer;
          }

          &.active {
            background: lighten(#215788, 60%);

          }
        }
      }
    }

    #player-card {
      display: grid;
      height: 60px;
      grid-template-columns: 60px 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: "logo name" "logo level";
      grid-column-gap: 10px;

      #player-team-logo {
        height: 60px;
        width: 60px;
        margin-right: 10px;
        grid-area: logo;
        background-repeat: no-repeat;

        &.Mystic {
          background-image: url('../static/img/TeamMystic.svg');
          background-position: -18px -40px;
          background-size: 95px;
        }

        &.Instinct {
          background-image: url('../static/img/TeamInstinct.svg');
          background-position: -18px -36px;
          background-size: 95px;
        }

        &.Valor {
          background-image: url('../static/img/TeamValor.svg');
          background-position: -18px -36px;
          background-size: 95px;
        }

        &.Harmony {
          background-image: url('../static/img/TeamHarmony.svg');
          background-position: 10px 0px;
          background-size: 45px;
        }
      }
    }
  }

  h2 {
    grid-area: name;
    text-align: left;
    margin: 0;
  }

  label {
    grid-area: level;
    text-align: left;
  }

  #content {
    grid-area: content;
    background: #f6f8fa;
    padding: 10px;

    @include phone {
      padding: 5px;
    }

    .content-panel {
      display: none;

      &.active {
        display: grid;
      }
    }
  }
}

.dex {
  #pokemon-filters {
    background: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    padding: 10px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-areas: "dd dd dd view";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 40px;

    i {
      color: #215788;
      float: left;
    }

    & #filter-view i {
      line-height: 38px;
      text-align: center;
      float: none;
    }

    @include tablet {
      padding: 5px;
    }

    @include phone {
      grid-gap: 5px;
      grid-template-areas: "dd view" "dd view" "dd view";
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 40px;
    }

    #filter-view {
      font-size: 30px;
      text-align: center;
      line-height: 38px;
      color: #276f86;
      grid-area: view;
    }
  }

  .pokemon-result-count.ui.attached.segment {
    font-weight: bold;
    font-size: 12px;

    @include phone {
      margin-top: 5px;
      padding: 5px 10px
    }
  }

  #pokemon-list {
    overflow-y: scroll;
    height: calc(100vh - 202px);

    @include tablet {
      height: calc(100vh - 192px);
      padding: 5px;
    }

    @include phone {
      height: calc(100vh - 244px);
      padding: 5px;
    }

    #pokemon-wrapper {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(6, 1fr);
      padding: 5px;
      grid-gap: 10px;

      @include ultrahddesktop {
        grid-template-columns: repeat(10, 1fr);
      }

      @include largedesktop {
        grid-template-columns: repeat(7, 1fr);
      }

      @include desktop {
        grid-template-columns: repeat(5, 1fr);
      }

      @include tablet {
        grid-template-columns: repeat(4, 1fr);
      }

      @include phone {
        grid-template-columns: repeat(2, 1fr);
      }

      .pokemon {
        border-radius: 3px;
        position: relative;
        box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
        background-color: #f8ffff;
        color: #276f86;
        z-index: 1;
        overflow: hidden;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 100%;
        grid-template-rows: 116px 20px 20px 38px;
        grid-template-areas: "img" "name" "types" "opt";

        &.owned {
          background-color: darken(#f8ffff, 3%);
        }

        .img {
          grid-area: img;
          display: grid;
          justify-content: center;
          align-content: end;

          img {
            max-height: 110px;
            position: relative;

          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 80px;
            left: calc(50% - 45px);
            width: 90px;
            height: 90px;
            border-radius: 45px;
            background: #276f86;
            opacity: 0.15;
            z-index: -1;
          }
        }

        .info {
          grid-area: name;
          font-weight: 600;
          text-align: center;
          width: 100%;
          height: 20px;
          overflow: hidden;
        }

        .type {
          grid-area: types;
          height: 20px;
          max-width: 35px;
          margin: auto;

          img {
            height: 20px;
            margin-left: -8px;

            &:first-child {
              margin: 0;
            }
          }
        }

        .dex-num {
          position: absolute;
          top: 0;
          right: 0;
          padding: 2px 5px;
          font-weight: 700;
          background: #a9d5de;
          color: #276f86;
          border-radius: 0 3px 0 3px;
        }

        .pm-opt {
          grid-area: opt;
          width: 100%;
          overflow: hidden;
          margin-top: 6px;

          .opt {
            width: 25%;
            height: 32px;
            line-height: 32px;
            display: inline-block;
            text-align: center;
            float: left;
            color: #333;

            &:first-child {
              border-radius: 0 0 0 3px;
            }

            &:last-child {
              border-radius: 0 0 3px 0;
            }

            &.owned {
              background: #276f86;
              color: white;
            }

            .fas.fa-ban {
              color: Tomato;
              margin-top: 1px;
            }
          }

          div.opt {
            &:hover {
              background: #a9d5de;
              cursor: pointer;
            }
          }

          span.opt {
            i {
              color: #ddd;
            }
          }
        }
      }

      &.list-view {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include ultrahddesktop {
          grid-template-columns: repeat(7, 1fr);
        }

        @include largedesktop {
          grid-template-columns: repeat(4, 1fr);
        }

        @include desktop {
          grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
          grid-template-columns: repeat(2, 1fr);
        }

        @include phone {
          grid-template-columns: repeat(1, 1fr);
        }

        .pokemon {
          height: 40px;
          border-radius: 3px;
          position: relative;
          box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
          background-color: #f8ffff;
          color: #276f86;
          display: grid;
          grid-template-rows: 40px;
          grid-template-columns: 45px 45px minmax(0, 1fr) 150px;
          grid-template-areas: "dex img name opt";

          &.owned {
            background-color: darken(#f8ffff, 3%);
          }

          .dex-num {
            grid-area: dex;
            position: initial;
            padding: 0 5px;
            line-height: 40px;
            border-radius: 3px 0 0 3px;
            height: 40px;
            max-width: 100%;
            z-index: 1;
          }

          .img {
            align-content: center;

            img {
              max-height: 40px;
              max-width: 50px;
            }
          }

          .type {
            display: none;
          }

          .info {
            grid-area: name;
            text-align: left;
            line-height: 40px;
            height: 40px;
            padding-right: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            z-index: 1;
          }

          .dex-special {
            display: none;
          }

          .pm-opt {
            margin: 0;

            .opt {
              height: 40px;
              line-height: 40px;
              border-radius: 0;

              &:last-child {
                border-radius: 0 3px 3px 0;
              }
            }
          }
        }
      }

      #no-results {
        grid-column: span 10;
        text-align: center;
        font-family: 'Patua One', cursive;
        font-size: 20px;
        font-weight: 400;
        margin: 20px;
        color: #215788;
      }
    }
  }
}

.pokemon-card {
  .header .sub-header {
    font-style: italic;
    color: #8c8c8c;
  }
}

#raid-bosses-list {
  overflow-y: scroll;
  height: calc(100vh - 83px);
  padding-right: 10px;

  .raid-boss-tier {
    &.t1 {
      background-color: rgba(235, 99, 133, 0.15);
    }

    &.t2 {
      background-color: rgba(235, 99, 133, 0.2);
    }

    &.t3 {
      background-color: rgba(227, 179, 70, 0.2);
    }

    &.t4 {
      background-color: rgba(227, 179, 70, 0.3);
    }

    &.t5 {
      background-color: rgba(201, 160, 226, 0.3);
    }

    &.t6 {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:last-child {
      margin-bottom: 0;
    }

    .raid-boss {
      display: grid;
      grid-template-areas: "img name type battlecp cp";
      grid-template-columns: 70px auto 55px 100px 120px;
      grid-template-rows: 50px;
      grid-gap: 5px;
      padding: 5px 0;

      @include phone {
        grid-template-areas: "img name type cp";
        grid-template-columns: 60px auto 55px 100px;

        .battle_cp {
          display: none;
        }
      }

      .img {
        grid-area: img;
        position: relative;
        display: grid;
        justify-content: center;
        align-content: center;
        overflow: hidden;

        img {
          max-width: 80px;
          max-height: 50px;
        }

        .shiny {
          position: absolute;
          top: 0;
          right: 0;
          background: rgba(33, 87, 136, 0.2) url(../static/img/icon_shiny.png) no-repeat center;
          background-size: contain;
          display: block;
          width: 25px;
          height: 25px;
          border-radius: 13px;
        }
      }

      .name {
        grid-area: name;
        font-weight: 600;
        font-size: 24px;
        line-height: 50px;
        z-index: 1;
      }

      @include phone {
        font-size: 16px;
      }
    }

    .type {
      grid-area: type;

      img {
        float: left;
        height: 30px;
        margin: 10px 0 10px -10px;

        &:first-child {
          margin: 10px 0;
        }
      }
    }

    .battle_cp {
      grid-area: battlecp;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      color: #333;
      margin: 12px 0;
      background: rgba(255, 255, 255, 0.4);
      border-radius: 4px;
      text-align: center;
    }

    .cp {
      grid-area: cp;

      div {
        text-align: center;
        line-height: 25px;
        font-weight: 600;
        color: #a8a8a8;

        &.cp_range_weather {
          color: #333;
        }
      }
    }
  }
}

#egg-hatches-list {
  overflow-y: scroll;
  height: calc(100vh - 83px);
  padding-right: 10px;

  @include phone {
    padding-right: 5px;
    height: calc(100vh - 72px);
  }

  .egg-hatch-tier {
    padding: 10px;

    .tier-header {
      grid-area: header;
      font-weight: 600;
      font-size: 24px;
      line-height: 50px;
      margin-bottom: 20px;

      img {
        height: 50px;
        float: left;
        margin-right: 10px;
      }
    }

    &.tier-2km {
      background: rgba(166, 196, 117, 0.1);
    }

    &.tier-5km {
      background: rgba(213, 161, 63, 0.1);
    }

    &.tier-7km {
      background: rgba(240, 126, 187, 0.1);
    }

    &.tier-10km {
      background: rgba(121, 112, 148, 0.1);
    }

    .pokemon_list {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

      .egg-hatch {
        display: grid;
        grid-template-areas: "img" "name";
        grid-template-columns: 1fr;
        grid-template-rows: 70px 55px;

        .img {
          grid-area: img;
          position: relative;
          width: 110px;
          overflow: hidden;
          display: grid;
          align-content: center;
          justify-content: center;

          img {
            max-height: 70px;
            max-width: 90px;
          }

          .shiny {
            position: absolute;
            top: 0;
            right: 0;
            background: rgba(33, 87, 136, 0.2) url(../static/img/icon_shiny.png) no-repeat center;
            background-size: contain;
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 13px;
          }
        }

        .name {
          grid-area: name;
          font-weight: 600;
          text-align: center;

          .cp_subtext {
            color: #8c8c8c;
          }
        }
      }
    }
  }
}

.content-panel.user-settings {
  padding: 0 10px 0 0;
  overflow-y: scroll;
  height: calc(100vh - 83px);

  @include phone {
    .ui.segment {
      margin: 10px 0;
    }

    .ui.basic.segment {
      margin: 0;
      padding: 0;
    }

    .ui.icon.header .circular.icon {
      font-size: 1em;
    }
  }
}