@import "vendor/normalize";
@import "mixins";
@import "defaults";

/*----------------*/
/* SITE FRAMEWORK */
/*----------------*/
#container {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 450px 1fr;
  height: 100vh;
  width: 100vw;

  #sidebar {
    grid-area: sidebar;
    padding: 20px 60px;

    h1 {
      font-size: 80px;

      @include tablet {
        margin-top: 20px;
      }
    }
  }

  #content {
    background-color: #215788;
    background-image: url('../static/img/img_charizard-silhouette-14.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom right;
    overflow-y: scroll;
    position: relative;

    p.hero-text {
      color: #fff;
      font-size: 60px;
      text-align: left;
      margin: 40vh 80px 0;
      font-family: 'Patua One', cursive;
    }
  }
}

/*--------------*/
/* AUTH PROCESS */
/*--------------*/
#container.login-auth {
  input[type=password], input[type=text] {
    height: 44px;
    width: 100%;
  }

  p {
    text-align: center;
    margin: 0;
    padding-bottom: 25px;
  }

  form {
    padding-top: 42px;
  }

  label[for=remember_me] {
    font-weight: 400;
    font-size: 14px;
    padding-left: 20px;
    display: block;
  }

  @include tablet {
    grid-template-areas: "sidebar" "content";
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    grid-auto-flow: column;

    #sidebar {
      padding: 20px 140px;

      h1 {
        margin-top: 0;
      }
    }

    #content {
      display: none;
    }
  }

  @include phone {
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    grid-auto-flow: column;

    #sidebar {
      h1 {
        margin-top: 0;
        font-size: 60px
      }

      h3 {
        font-size: 18px;
      }

      form {
        padding-top: 25px;
      }

      padding: 20px 30px;
    }

    #content {
      display: none;
    }
  }
}

/*--------------*/
/* REGISTRATION */
/*--------------*/
#container.register {
  .form-container {
    overflow: hidden;
    margin: 20px;
    background: #fff;
    border-radius: 3px;
    padding: 20px 40px;

    p {
      margin: 0;
      padding-bottom: 25px;
    }

    #player_team {
      display: grid;
      grid-template-columns: repeat(4, minmax(145px, 1fr));
      grid-auto-flow: row;
      grid-column-gap: 20px;
      padding: 0;

      @include tablet {
        grid-template-columns: 1fr;
      }

      @include phone {
        grid-template-columns: 1fr;
      }

      li {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;

        label {
          display: inline-block;
          padding: 10px 10px 10px 68px;
          border: solid 1px #E1E3DF;
          border-radius: 3px;
          height: 68px;
          line-height: 48px;
          background-repeat: no-repeat;
          opacity: 0.8;

          &:hover {
            border-color: #adaeaa;
          }

          &[for=player_team-0] {
            background-image: url('../img/TeamMystic.svg');
            background-position: -5px -25px;
            background-size: 75px;
          }

          &[for=player_team-1] {
            background-image: url('../img/TeamInstinct.svg');
            background-position: -5px -25px;
            background-size: 80px;
          }

          &[for=player_team-2] {
            background-image: url('../img/TeamValor.svg');
            background-position: -8px -24px;
            background-size: 80px;
          }

          &[for=player_team-3] {
            background-image: url('../img/TeamHarmony.svg');
            background-position: 10px 2px;
            background-size: 45px;
          }
        }

        input[type=radio] {
          opacity: 0;
          height: 1px;
          width: 1px;
          position: absolute;

          &:checked + label {
            border-color: #a3c293;
            background-color: #fcfff5;
            color: #2c662d;
            opacity: 1;
          }
        }
      }
    }
  }

  @include tablet {
    grid-template-areas: "content" "sidebar";
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    grid-auto-flow: column;

    #sidebar {
      display: none;
    }
  }

  @include phone {
    grid-template-areas: "content" "sidebar";
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    grid-auto-flow: column;

    #sidebar {
      display: none;
    }
  }
}

/*--------------*/
/* USER PROFILE */
/*--------------*/
#user-profile {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-areas: "header header" "sidebar content";
  grid-template-columns: auto 1fr;
  grid-template-rows: 62px 1fr;

  #header {
    grid-area: header;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255, 255, 255, 0.75);
    background-color: #215788;
    display: grid;
    grid-template-areas: "logo search menu";
    grid-template-columns: auto 1fr auto;

    #logo {
      grid-area: logo;

      h1 {
        padding: 0 16px;
        margin: 0;
        color: rgba(255, 255, 255, 0.8);
        display: inline-block;
        float: left;
      }

      #sidebartoggle {
        font-size: 25px;
        line-height: 38px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        padding: 0 0 0 16px;
        display: none;
        float: left;

        &:hover {
          cursor: pointer;
          color: rgba(255, 255, 255, 0.95);
        }
      }

      @include tablet {
        #sidebartoggle {
          display: inline-block;
        }
      }

      @include phone {
        h1 {
          display: none;
        }

        #sidebartoggle {
          padding-right: 16px;
        }
      }
    }

    .search {
      grid-area: search;

      & > div {
        max-width: 350px;
      }

      input {
        height: 38px;
        padding: 0 40px 0 14px !important;
        border-radius: 3px !important;
        background-color: rgba(255, 255, 255, 0.125) !important;
      }

      i.icon {
        right: 14px;
      }
    }

    #menu {
      grid-area: menu;
      padding: 0 16px;

      a {
        float: right;
        padding: 0 0 0 16px;
        line-height: 38px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 25px;

        &:hover {
          color: rgba(255, 255, 255, 0.95)
        }

        &:last-child {
          padding: 0;
        }
      }
    }
  }

  #sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-areas: "body" "footer";
    grid-template-rows: auto 40px;
    border-right: 1px #e1e4e8 solid;
    transition: all 0.3s ease-out;

    @include tablet {
      position: absolute;
      left: -100vw;
      padding: 0;
      overflow: hidden;
      width: 100vw;
      height: calc(100vh - 62px);
      top: 62px;
      background: #fff;
      z-index: 3;

      &.show-sidebar {
        left: 0;
      }
    }

    #sidebar-body {
      grid-area: body;
      padding: 24px;
      width: 302px;

      @include tablet {
        width: 100vw;
      }

      #sidebar-links {
        margin-top: 30px;

        .sidebar-link {
          display: grid;
          grid-template-columns: 35px 1fr 24px;
          width: 100%;
          font-family: 'Patua One', cursive;
          font-size: 20px;
          font-weight: 400;
          color: #215788;
          padding: 25px 10px;
          text-align: left;

          &:hover {
            color: lighten(#215788, 10%);
            cursor: pointer;
          }

        }
      }
    }

    #player-card {
      display: grid;
      height: 60px;
      grid-template-columns: 60px 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: "logo name" "logo level";
      grid-column-gap: 10px;

      #player-team-logo {
        height: 60px;
        width: 60px;
        margin-right: 10px;
        grid-area: logo;
        background-repeat: no-repeat;

        &.Mystic {
          background-image: url('../static/img/TeamMystic.svg');
          background-position: -18px -40px;
          background-size: 95px;
        }

        &.Instinct {
          background-image: url('../static/img/TeamInstinct.svg');
          background-position: -18px -36px;
          background-size: 95px;
        }

        &.Valor {
          background-image: url('../static/img/TeamValor.svg');
          background-position: -18px -36px;
          background-size: 95px;
        }

        &.Harmony {
          background-image: url('../static/img/TeamHarmony.svg');
          background-position: 10px 0px;
          background-size: 45px;
        }
      }
    }
  }

  h2 {
    grid-area: name;
    text-align: left;
    margin: 0;
  }

  label {
    grid-area: level;
    text-align: left;
  }

  #content {
    grid-area: content;
    background: #f6f8fa;
    padding: 20px;

    @include phone {
      padding: 5px;
    }

    .content-panel {
      display: none;

      &.active {
        display: grid;
      }
    }
  }
}

.dex {
  #pokemon-filters {
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    padding: 10px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-areas: "dd dd dd view";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 40px;

    @include tablet {
      padding: 5px;
      margin: 3px;
    }

    @include phone {
      margin: 2px 8px 7px;
      grid-gap: 5px;
      grid-template-areas: "dd view"
                           "dd view"
                           "dd view";
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 40px;
    }

    #filter-view {
      font-size: 30px;
      text-align: center;
      line-height: 38px;
      color: #276f86;
      grid-area: view;
    }
  }

  #pokemon-list {
    overflow-y: scroll;
    height: calc(100vh - 182px);

    @include tablet {
      padding: 3px;
      margin: 3px;
      height: calc(100vh - 130px);
    }

    @include phone {
      padding: 0;
      margin: 0;
      border-radius: 0;
      height: calc(100vh - 217px);
    }

    #pokemon-wrapper {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(6, 1fr);

      @include ultrahddesktop {
        grid-template-columns: repeat(10, 1fr);
      }

      @include largedesktop {
        grid-template-columns: repeat(7, 1fr);
      }

      @include desktop {
        grid-template-columns: repeat(5, 1fr);
      }

      @include tablet {
        grid-template-columns: repeat(4, 1fr);
      }

      @include phone {
        grid-template-columns: repeat(3, 1fr);
      }

      .pokemon {
        height: 195px;
        float: left;
        margin: 5px;
        border-radius: 3px;
        position: relative;
        box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
        background-color: #f8ffff;
        color: #276f86;

        &.owned {
          background-color: darken(#f8ffff, 3%);
        }

        .img {
          height: 116px;
          background-image: url('../img/sprites/pokemon/0.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }

        .info {
          font-weight: 600;
          text-align: center;
          width: 100%;
          height: 40px;
        }

        .dex-num {
          position: absolute;
          top: 0;
          right: 0;
          padding: 2px 5px;
          font-weight: 700;
          background: #a9d5de;
          color: #276f86;
          border-radius: 0 3px 0 3px;
        }

        .dex-special {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;

          background-color: #a9d5de;
          color: #276f86;
          text-align: center;
          border-radius: 3px 0 3px 0;

          &.legendary {
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: 2px 3px;
            background-image: url('../static/img/legendary-icon.png');
          }

          &.regional {

          }
        }

        .pm-opt {
          width: 100%;
          overflow: hidden;
          margin-top: 6px;

          .opt {
            width: 20%;
            height: 32px;
            line-height: 32px;
            display: inline-block;
            text-align: center;
            float: left;
            color: #333;

            &:first-child {
              border-radius: 0 0 0 3px;
            }

            &:last-child {
              border-radius: 0 0 3px 0;
            }

            &.owned {
              background: #276f86;
              color: white;
            }

            .fas.fa-ban {
              color: Tomato;
              margin-top: 1px;
            }
          }

          div.opt {
            &:hover {
              background: #a9d5de;
              cursor: pointer;
            }
          }

          span.opt {
            i {
              color: #ddd;
            }
          }
        }
      }

      &.list-view {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include ultrahddesktop {
          grid-template-columns: repeat(7, 1fr);
        }

        @include largedesktop {
          grid-template-columns: repeat(4, 1fr);
        }

        @include desktop {
          grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
          grid-template-columns: repeat(2, 1fr);
        }

        @include phone {
          grid-template-columns: repeat(1, 1fr);
        }

        .pokemon {
          height: 40px;
          border-radius: 3px;
          position: relative;
          box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
          background-color: #f8ffff;
          color: #276f86;
          display: grid;
          grid-template-columns: 45px 45px minmax(0, 1fr) 150px;
          grid-template-areas: "dex img name options";

          &.owned {
            background-color: darken(#f8ffff, 3%);
          }

          .dex-num {
            grid-area: dex;
            position: initial;
            padding: 0 5px;
            line-height: 40px;
            border-radius: 3px 0 0 3px;
            height: 40px;
            max-width: 100%
          }

          .img {
            grid-area: img;
            height: 40px;
            background-image: url('../img/sprites/pokemon/0.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }

          .info {
            grid-area: name;
            text-align: left;
            line-height: 40px;
            padding-right: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .dex-special {
            display: none;
          }

          .pm-opt {
            grid-area: options;
            overflow: hidden;
            margin: 0px;

            .opt {
              width: 20%;
              height: 40px;
              line-height: 40px;
              border-radius: 0;

              &:last-child {
                border-radius: 0 3px 3px 0;
              }

              &.owned {
                background: #276f86;
                color: white;
              }

              .fas.fa-ban {
                color: Tomato;
                margin-top: 1px;
              }
            }

            div.opt {
              &:hover {
                background: #a9d5de;
                cursor: pointer;
              }
            }

            span.opt {
              i {
                color: #ddd;
              }
            }
          }
        }
      }

      #no-results {
        grid-column: span 10;
        text-align: center;
        font-family: 'Patua One', cursive;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
        color: #215788;
      }
    }
  }
}
