/* MEDIA QUERIES */
$tablet-width: 767px;
$small-desktop-width: 1023px;
$medium-desktop-width: 1200px;
$large-desktop-width: 1910px;
$ultrahd-desktop-width: 3839px;

/* Large desktop */
@mixin ultrahddesktop {
  @media (min-width: $ultrahd-desktop-width) {
    @content;
  }
}

@mixin largedesktop {
  @media (min-width: $large-desktop-width) and (max-width: $ultrahd-desktop-width) {
    @content;
  }
}

@mixin mediumdesktop {
  @media (min-width: $medium-desktop-width) and (max-width: $large-desktop-width) {
    @content;
  }
}

/* Normal Desktop */
@mixin desktop {
  @media (min-width: $small-desktop-width) and (max-width: $medium-desktop-width) {
    @content;
  }
}

/* Portrait tablet to landscape and desktop */
@mixin tablet {
  @media (min-width: $tablet-width) and (max-width: $small-desktop-width) {
    @content;
  }
}

/* Mobile phone to portrait tablet */
@mixin phone {
  @media (max-width: $tablet-width) {
    @content;
  }
}
