<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>DEX | The Ultimate Online Tracker for Pokemon GO</title>
    <meta name="author" content="vidoardes">
    <meta name="description" content="The Ultimate Online Tracker for Pokemon GO">
    <meta name="keywords" content="pokemon,tacker,pokedex,dex">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/icons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/icons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/icons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/icons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/icons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/icons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/icons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/icons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/icons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/icons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/icons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/icons/favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/icons/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700|Patua+One"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.min.css') }}"
          type="text/css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-xyMU7RufUdPGVOZRrc2z2nRWVWBONzqa0NFctWglHmt5q5ukL22+lvHAqhqsIm3h"
          crossorigin="anonymous">
</head>

<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flashed-message {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% block container %}
<div id="container">
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}
</div>
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/cookieconsent.min.js') }}"></script>
<script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#383b75"
                },
                "button": {
                    "background": "#f1d600"
                }
            },
            "position": "bottom-right",
            "type": "opt-out",
            "content": {
                "message": "Ironically this site only uses cookies to remember you've read this message about cookies, and to remember your login.",
                "link": "Privacy Policy",
                "href": "/app/static/docs/privacy-policy.pdf"
            }
        })
    });
</script>
</body>

</html>